<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {% block imports %}
    <!-- place holder for another imports -->
    {% endblock %}
    <title>{% block title %}<!--place holder for  title page-->{% endblock %}</title>
    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
        {% if 'user' in session %}
            <li style="display:inline"><a href="{{url_for('logout')}}">Log Out</a></li>
        {% else %}
            <li style="display:inline"><a href="{{url_for('signup')}}">Sign Up</a></li>
            <li style="display:inline"><a href="{{url_for('login')}}">Login</a></li>
        {% endif%}
    </ul>
</head>

<body{% block body_style %}{% endblock %}>
    {% block content %}
    <!-- place holder for content-->
    {% endblock %}
</body>

</html>